<center>
<h1>The Ultimate Band List</h1>

<h2><%= link_to "Bands", bands_path %></h2><br/>
<h2><%= link_to "Artists", artists_path %></h2><br/>
<h2><%= link_to "Songs", songs_path %></h2><br/>
<h2><%= link_to "Recordings", recordings_path %></h2><br/>
<center>